body {
    text-transform: uppercase;
    padding: 200px 450px;
}
#form-container {
    display: grid;
    grid-template-columns: 1fr 2fr 75px;
    grid-template-rows: 50px 200px 50px 40px;
    column-gap: 15px;
    row-gap: 15px;
}
#card-front,
#card-back {
    background-color: #E1D6D6;
    border: solid #9d9696 1px;
    border-radius: 10px;
}
input {
    background-color: #f3e7e7;
    border: solid black 1px;
    padding: 5px;
    margin: 5px;
}
#card-front {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 99999;
    box-shadow: 2px 2px 2px #9d9696;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    padding: 30px;
}
.card-image {
    justify-self: end;
}
#card-number-container {
    grid-column: 1/3;
}
#card-number {
    width: 90%;
}
#card-holder {
    width: 90%;
}
#card-month,
#card-year {
    width: 30px;
}
#card-back {
    grid-column: 2/4;
    grid-row: 2/4;
    background-color: #E1D6D6;
    z-index: -1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px 0 0 0;
}
#card-stripe {
    background-color: #444444;
    height: 50px;
    grid-column: 1/3;
}
#cvc-container {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-items: end;
    align-self: end;
    padding: 5px;
}
#card-cvc {
    width: 50px;
}
#card-btn {
    grid-column: 3/4;
    grid-row: 4/5;
    border-radius: 5px;
    border: solid black 1px;
}