@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #1b98e0;
  --secondary-color: #59c3c3;
  --text-dark: #333;
  --text-light: #ebebeb;
  --primary-font: Arial, Helvetica, sans-serif;
  --secondary-font: "Sour Gummy";
}

body {
  font-family: var(--primary-font);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: center;
}
.recipe-book {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}
.title {
  font-family: var(--secondary-font);
  font-size: 4em;
  padding: 0 10px;
}
.search-bar {
  display: flex;
}
.search-bar input {
  flex-grow: 4;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid black;
}
.search-icon {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
}
hr {
  margin: 15px;
}
.recipe {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}
.recipe img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.recipe-title {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: 0;
}
.tags ul {
  list-style-type: none;
  padding-inline-start: 0;
}
.tags li {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: inline;
}
footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}
.social {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 175px;
  justify-self: center;
}
.social a {
  margin: 2px;
}
.freepik {
  font-size: 0.6em;
  color: var(--primary-color);
  text-decoration: none;
  justify-self: center;
}
.freepik:hover {
  text-decoration: underline;
}
.hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  .hidden {
    display: block;
  }
  footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .social {
    grid-row: 1/2;
    justify-self: end;
  }
  .freepik {
    grid-row: 1/2;
    align-self: center;
    justify-self: start;
  }
}

@media screen and (min-width: 960px) {
  .recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 15px 1fr 4fr;
    column-gap: 15px;
  }
  .food-img {
    grid-row: 1/6;
    align-self: center;
  }
  .tags {
    align-self: center;
  }
}
